<div id='content'>
  <h3>Welcome <span class='username'>{{user}}</span>!</h3>
  <a href="/logout">Logout</a>

  <div class='actions'>
    {{#if game}}
      <h4>Active Games:</h4>
      <ul class='games'>
        {{#each game}}
          <li><a href='/game/{{gid}}'>{{gid}}a</a></li>
        {{/each}}
      </ul>
    {{else}}
      <a id='joinGame' class="button" href="#">Join a game</a>
    {{/if}}
  </div>
</div>
