<div id='content'>
  <h3>Welcome <span class='username'>{{user}}</span>!</h3>
  <a href="/logout">Logout</a>

  <div class='actions'>
    <a id='joinGame' class="button" href="#">Join a game</a>
  </div>
</div>
