//- I imagine this would be the page that is shown after the user logs in
//- or just types in a name for our current purposes.
//- would show like their name and maybe some other info as well as who else is online?

//- oh yeah, maybe there is a better name for this file, not sure. 

extends layout 