//- This should hold the 'game' view

extends layout

block content
	div#my-board
		h2 My Board
		div.board
			div.row
				div.cell
				div.cell
					div.inner 1
				div.cell
					div.inner 2
				div.cell
					div.inner 3
				div.cell
					div.inner 4
				div.cell
					div.inner 5
				div.cell
					div.inner 6
				div.cell
					div.inner 7
				div.cell
					div.inner 8
				div.cell
					div.inner 9
				div.cell	
					div.inner 10
			div#A.row	
				div.cell
					div.inner A
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#B.row
				div.cell 
					div.inner B
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#C.row
				div.cell
					div.inner C
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#D.row
				div.cell
					div.inner D
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#E.row
				div.cell
					div.inner E
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#F.row
				div.cell
					div.inner F
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#G.row
				div.cell
					div.inner G
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#H.row
				div.cell
					div.inner H
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#I.row
				div.cell
					div.inner I
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#J.row
				div.cell
					div.inner J
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div.clear		


	div#their-board
		h2 Their Board
		div.board
			div.row
				div.cell
				div.cell
					div.inner 1
				div.cell
					div.inner 2
				div.cell
					div.inner 3
				div.cell
					div.inner 4
				div.cell
					div.inner 5
				div.cell
					div.inner 6
				div.cell
					div.inner 7
				div.cell
					div.inner 8
				div.cell
					div.inner 9
				div.cell	
					div.inner 10
			div#A.row	
				div.cell
					div.inner A
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#B.row
				div.cell 
					div.inner B
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#C.row
				div.cell
					div.inner C
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#D.row
				div.cell
					div.inner D
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#E.row
				div.cell
					div.inner E
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#F.row
				div.cell
					div.inner F
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#G.row
				div.cell
					div.inner G
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#H.row
				div.cell
					div.inner H
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#I.row
				div.cell
					div.inner I
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div#J.row
				div.cell
					div.inner J
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
				div.cell
			div.clear

	div#my-pieces
		h2 My Pieces
		div#error.error &nbsp;
		div.pieces
			div.dock.carrier
				span#carrier.ship.carrier.docked
			div.dock.battleship
				span#battleship.ship.battleship.docked
			div.dock.sub
				span#sub.ship.sub.docked
			div.dock.destroyer
				span#destroyer.ship.destroyer.docked
			div.dock.patrol
				span#patrol.ship.patrol.docked
		button#lock-button Lock it in
		button#reset-button Reset
		div.clear

	

	

block append footer
	footer
		script(src='/js/game.js')
		script
			$(document).ready(function(){
				BATTLESHIP.game.init();
			})
