extends layout


block content
	#content
		p 
			a(href="/register")#register Register
			|  or 
			a(href="/login")#login Login

		

		//- form
		//- 	input(type="text"
		//- 		  id="username"
		//- 		  value="")
		//- 	input(type="text"
		//- 		  id="email"
		//- 		  value="")
		//- 	input(type="text"
		//- 		  id="password"
		//- 		  value="")
		//- 	input(type="text"
		//- 		  id="confirm-password"
		//- 		  value="")