<div id="content">
  <h2>Welcome <span id="user">{{user}}</span></h2>
  <span id="progress">One moment while we find you someone to play with</span>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src='./js/join.js'></script>
