!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en') 
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      title=title
      meta(name="description", content=description)
      meta(name="viewport", content='width=device-width, initial-scale=1')
      link(rel='stylesheet', href='./css/bootstrap.css')
      link(rel='stylesheet', href='./css/main.css')

    //- script(src='js/libs/modernizr-2.0.6.min.js')
  body
    block header
          header
            h1 Battleship
            .sub-heading A [clever] Sub-Heading

    div.span7.container
      
      block content
          p Welcome to Battleship!

      block footer
        footer  
          script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
          script
            window.jQuery || document.write('<script src="js/lib/jquery-1.9.1.min.js"><\\/script>')
          //-script(defer, src='js/plugins.js')
          script(src='./js/libs/jquery-ui-1.10.2.custom.js')

          
          
          script(src='./js/Battleship.js')
          script(src='./js/init.js')
          script(src='./js/libs/jquery-collision.min.js')
          script(src='./js/libs/jquery-ui-draggable-collision.js')          
