{{!-- append head
      script(src='./socket.io/socket.io.js')
      script(src='/js/join.js') --}}


<div id='content'>      
  <p>
    Login in and join a game! <span class='error'>{{error}}</span>
  </p>
  <form id='login-form' class='form-horizontal' action='/login' method='post'>
    <div class='control-group'>
      <label class='control-label' for='username'>Username: </label>
      <div class='controls'>
        <input type='text' id='username' name='username' value="" placeholder='Username' />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='password'>Password: </label>
      <div class='controls'>
        <input type='password' id='password' name='password' placeholder='Password' />
      </div>
    </div>
    <div class='controls'>
      <input type="submit" id="login-button" value="Login" />
    </div>
  </form>
</div>