{{!-- append head
      script(src='./socket.io/socket.io.js')
      script(src='/js/join.js') --}}


<div id='content'>      
  <p>Login in and join a game!</p>

  <form id='login-form' action='/login' method='post'>
    <input type='text' id='username' name='username' value="" placeholder='Username' />
    <input type='password' id='password' name='password' placeholder='Password' />
    <input type="button" id="login-button" value="Go" />
  </form>
</div>