body {
	font-family: Helvetica, Arial, Sans-Serif;
	font-weight: lighter;
	background-color: #333333;
	color: #FFFFFF;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: #ead620;
}


.clear {
	clear: both;
}

.wrapper {
	margin: auto;
	width: 1380px;
}

header {
	padding: 15px;
}

header h1 {
	font-size: 54px;
	margin: 0;
}

h1 a {
	text-decoration: none;
	color: #fff;
}

h1 a:hover {
	text-decoration: none;
	color: #fff;
}

.sub-heading {
	font-size: 19px;
	color: #f4d40f;
	letter-spacing: 1px;
	font-weight: lighter;
	position: relative;
	left: 5px;
}

/* Form Styles */

.form-horizontal .control-group {
	margin-bottom: 10px;
}

/* Game Boards */
.board {
	width: 660px;
	height: 660px;
	background-color: #3aaab5;
}

#my-board {
	float: left;
}

#their-board {
	float:right;
}

.error {
	color: #ea184e;
	font-weight: lighter;
}

.row {
	height: 58px;
	width: 100%;
	border: 1px solid black;
	margin: 0px;
}

.cell {
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 58px; /* The parent .row has a 1px border */
	width: 58px;
	float: left;
	color: rgb(17, 150, 162);
	font-size: 36px;
	text-align: center;
}

.inner {
	padding-top: 10px;
}

.hovered {
	background-color: #FF0000;
}

#my-pieces {
	float: left;
	width: 660px;
	height: 280px;
}

.pieces {
	margin-bottom: 20px;
	display: block;
}

.dock {
	height: 60px;
	border: 2px dashed #FFFFFF;
	padding: 2px;
	margin: 5px 50px 5px 0;
	float: left;
}

.docked {
	left: -1px;
	top: -2px;
}

.ship {
	height: 58px;
	background-color: #66676d;
	border: 1px solid #000000;
	display: block;
	margin-top: 2px;
}

.carrier {
	width: 298px;
}
.battleship {
	width: 240px;
}
.sub {
	width: 180px;
}
.destroyer {
	width: 180px;
}
.patrol {
	width: 120px;
}