<header>
  <nav>
    <ul class='nav nav-pills pull-right'>
      {{#if loggedIn}}
        <li>
          <a href='#' id='logout'>Logout</a>
        </li>
      {{else}}
        <li>
          <a href='#login' id='login'>Login</a>
        </li>
        <li>
          <a href='#register' id='register'>Register</a>
        </li>
      {{/if}}
    </ul>
  </nav>
  <div class="logo">
    <a href="/">Battleship</a>
  </div>
  <div class="sub-heading">
    A [clever] Sub-Heading
  </div>
</header>