body {
	font-family: Helvetica, Arial, Sans-Serif;
	background-color: #333333;
	color: #FFFFFF;
	font-size: 16px;
}

p {
	font-weight: lighter;
}

a {
	text-decoration: none;
	color: #ead620;
}

h2 {
	font-weight: lighter;
}
a:hover {
	text-decoration: underline;
}

.wrapper {

}

header h1 {
	font-size: 54px;
	margin: 0;
}

.sub-heading {
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: lighter;
}

form {
	display: none;
}

/* Game Boards */
.board {
	/*width: 660px;
	height: 660px;*/
	background-color: #3aaab5;
}

.pieces {
	border: 1px solid #ffffff;
	float: right;
	width: 320px;
	height: 400px;
}

.ship {
	height: 60px;
	background-color: #66676d;
	border: 1px solid #000000;
	display: block;
	margin-top: 2px;
}

.carrier {
	width: 300px;
}
.battleship {
	width: 240px;
}
.sub {
	width: 180px;
}
.destroyer {
	width: 180px;
}
.patrol {
	width: 120px;
}